<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
	<connectionStrings>
		<add name="Registpage" connectionString="server=localhost\SQLEXPRESS;database=register;integrated security=true" providerName="system.data.sqlclient"/>
	</connectionStrings>
</configuration>
